@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Arimo", sans-serif;
  scrollbar-gutter: stable;
  margin: 0;
  background-color: #0c0c0c;
  color: #ffffff;
}

.hero-text {
  color: #ffffff;
  text-shadow: 0 0 25px rgb(0, 0, 0);
  font-family: "Bebas Neue", sans-serif;
}
.bebas-text {
  font-family: "Bebas Neue", sans-serif;
}
.filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(171deg)
    brightness(104%) contrast(105%);
}
.custom-a{
  box-shadow: inset 0 0 0 0 #ffffff;
  margin: 0 -.25rem;
  padding: .5rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}


.custom-a:hover {
  box-shadow: inset 12rem 0 0 0 #ffffff;
  color: rgb(0, 0, 0);
}

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 40s linear infinite;
}

.marquee2 span {
  animation-delay: 20s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

.hero-container {
  overflow: hidden;
}
.hero-container img {
  transition: 0.3s ease-in;
  transform: scale(1.2);
  filter: grayscale(0.4);
}
.hero-container img:hover {
  transform: scale(1);
  filter: grayscale(0);
}

.actor-container {
  overflow: hidden;
}
.actor-container img {
  transition: 0.3s ease-in;
}
.actor-container img:hover {
  transform: scale(1.1);
}

.bg-propuesta {
  background-image: url("/images/proposal.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.custom-shadow {
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.05);
}

.custom-shadow {
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.05);
}

.bg-img {
  background-image: url("/images/qrimage.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.empresa {
  background-image: linear-gradient(
      176deg,
      rgba(17, 17, 17, 1) 0%,
      rgba(18, 18, 18, 0.8442227232689951) 45%,
      rgba(36, 36, 36, 0.5276961126247374) 100%
    ),
    url("/images/empresas.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.organizacion {
  background-image: linear-gradient(
      176deg,
      rgba(17, 17, 17, 1) 0%,
      rgba(18, 18, 18, 0.8442227232689951) 45%,
      rgba(36, 36, 36, 0.5276961126247374) 100%
    ),
    url("/images/onu.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.gobierno {
  background-image: linear-gradient(
      176deg,
      rgba(17, 17, 17, 1) 0%,
      rgba(18, 18, 18, 0.8442227232689951) 45%,
      rgba(36, 36, 36, 0.5276961126247374) 100%
    ),
    url("/images/gobierno.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
