@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  font-family: "Poppins", sans-serif;
  scrollbar-gutter: stable;
  margin: 0;
  background-color: #fefefe;
  color: #202020;
}

.hero-text {
  color: #fcfcfc;
  -webkit-text-stroke: 0.5px #202020;
}
.filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(171deg)
    brightness(104%) contrast(105%);
}

.hero-container {
  overflow: hidden;
}
.hero-container img {
  transition: 0.3s ease-in;
  transform: scale(1.2);
  filter: grayscale(0.4);
}
.hero-container img:hover {
  transform: scale(1);
  filter: grayscale(0);
}

.actor-container {
  overflow: hidden;
}
.actor-container img {
  transition: 0.3s ease-in;
}
.actor-container img:hover {
  transform: scale(1.1);
}

.bg-propuesta {
  background-image: url("/images/proposal.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.custom-shadow {
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.05);
}

.custom-shadow {
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.05);
}

.bg-img {
  background-image: url("/images/qrimage.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.empresa {
  background-image: linear-gradient(176deg, rgba(17,17,17,1) 0%, rgba(18,18,18,0.8442227232689951) 45%, rgba(36,36,36,0.5276961126247374) 100%),
    url("/images/empresas.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.organizacion {
  background-image: linear-gradient(176deg, rgba(17,17,17,1) 0%, rgba(18,18,18,0.8442227232689951) 45%, rgba(36,36,36,0.5276961126247374) 100%),
    url("/images/onu.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.gobierno {
  background-image: linear-gradient(176deg, rgba(17,17,17,1) 0%, rgba(18,18,18,0.8442227232689951) 45%, rgba(36,36,36,0.5276961126247374) 100%),
    url("/images/gobierno.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
